
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: var(--light-color);
  margin: 20px;
}

.btn {
  cursor: pointer;
  padding: 5px 15px;
  background: var(--light-color);
  color: var(--dark-color-a);
  border: 0;
  font-size: 17px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Chat Box for login/signup */

.chatContainer {
  max-width: 1100px;
  height: 666px;
  background: #fff;
  margin: 30px auto;
  overflow: hidden;
}

.chatHeader {
  background: var(--dark-color-a);
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.footer {
  padding: 40px 30px;
  background-color: var(--dark-color-a);
}

.loginMsg {
  color: red;
}

.menuText {
  color: #777;
}

a {
	color:white;
}



.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 0 2rem;
}

.inputField {
  border: 1px black solid;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.alternativeOptionSection {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.altEl {
  height: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 700px) {
  .chatMain {
    display: block;
  }
}

@media (min-width: 960px) {
  .container {
    margin-top: 4rem;
  }

  .text {
    width: 24rem;
  }

  .formContainer {
    width: 50%;
    padding: 0;
  }

  .inputField {
    width: 50%;
  }

  .btnContainer {
    padding: 0;
  }
}
