@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.btn {
  cursor: pointer;
  padding: 5px 15px;
  background: var(--dark-color-a);
  color: var(--light-color);
  border: 0;
  font-size: 17px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
